---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../stylesheets/global.css";
const { jewelry } = Astro.props;

export async function getStaticPaths() {
    const url = "https://usviimqgxrpwxpkpwtcw.supabase.co/rest/v1/jouxli";

const options = {
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzdmlpbXFneHJwd3hwa3B3dGN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUzMTIyOTcsImV4cCI6MjAwMDg4ODI5N30.zcE9JmufoPRskT3SI3iWA5xjnjh_AMJBeyYddTed-LY"
	},
};

const response = await fetch(url, options);
const data = await response.json();

return data.map((jewelry) => ({
    params: {slug: jewelry.slug},
    props: { jewelry },
}))

} 


---


<MainLayout withBackground>
    <h1>{jewelry.name}</h1>
    <section class="back">
        <button onclick="history.back()" class="back_button">Tilbage</button>
    </section>
    <section class="singleview">
        <div>
            <img src={"/product_img/" + `${jewelry.photo1}`} alt=`${jewelry.name}` class="img_big">
            <div>
                <img src={"/product_img/" + `${jewelry.photo1}`} alt=`${jewelry.name}` class="img_small1 mini-photo">
                <img src={"/product_img/" + `${jewelry.photo2}`} alt=`${jewelry.name}` class="img_small2 fade mini-photo">
            </div>
        </div>
        <div>
            <p class="description">{jewelry.description}</p>
            <p class="price">Pris: {jewelry.price}</p>
            <button class="contact_button"><a href="/kontakt/">Kontakt</a></button>
        </div>
    </section>
</MainLayout>

<script src="../../scripts/singleview.js"></script>
<style>

    
    .fade {
        opacity: 0.4;
    }

    h2 {
        color: var(--beige);
        font-weight: 100;
        }

        h3 {
        color: var(--beige);
        }

    .fade:hover {
        opacity: 1;
    }



    .back {
        max-width: 1000px;
        margin-inline: auto;
    }
    
    .back_button {
        margin-left: 20px;
        font-size: var(--p_mobile);
        font-family: 'Heebo', sans-serif;
        background: none;
        border: none;
    }

    

    .img_big {
        width: 100%;
    }

    .img_small1 {
        width: 20%;
        margin-top: 5px;
        margin-right: 5px;
    }

    .img_small2 {
        width: 20%;
        margin-top: 5px;
        margin-right: 5px;
    }

    .singleview {
        margin-left: 20px;
        margin-right: 20px;
    }

    .description {
        margin-top: 30px;
    }

    .price {
        margin-top: 20px;
    }

    .contact_button {
        border: none;
        background-color: var(--lightbrown);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 40px;
        border-radius: 5px;
        margin-bottom: 50px;
    }

    .contact_button a {
        color: var(--beige);
        font-size: var(--p_mobile);
        font-family: 'Heebo', sans-serif;
        text-decoration: none;
    }

    .contact_button:hover {
        text-decoration: underline;
        color: var(--beige);
    }



    @media (min-width: 1000px) {
        .back_button {
        margin-left: 0px;
        font-size: var(--p_desktop);
        }

        .back_button:hover {
        text-decoration: underline;
    }

    .singleview {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 0px;
        margin-right: 0px;
        margin-inline: auto;
        max-width: 1000px;
        gap: 90px;
        margin-bottom: 70px;
    }

    .img_small {
        margin-top: 15px;
        margin-right: 15px;
    }

    h1 {
        font-size: var(--h1_desktop);
    }

    p {
        font-size: var(--p_desktop);
    }

    }

</style>
